{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<div class="div_cb">
  <h1>NEW PROFILE</h1>
  <p>Enter details below:</p>
  <hr />
  <form action="{{ url_for('profile') }}" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    username:<br /> {{ form.username }}<br />
    email:<br /> {{ form.email }}<br />
    first name:<br /> {{ form.fname }}<br />
    last name:<br /> {{ form.lname }}<br />
    age:<br /> {{ form.age }}<br />
    sex:<br /> {{ form.sex }}<br />
    image:<br /> {{ form.image }}<br />
    <input type="submit" />
  </form>
</div>
{% endblock %}
